/* Estilos para la tarjeta */
.tarjeta {
    display: flex;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    flex-direction: column;
  }

.dark-mode .tarjeta {
  background-color: #454545;
}
  
  .tarjeta-imagen {
    width: 150px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .tarjeta-contenido {
    flex: 1;
  }
  
  .tarjeta-titulo {
    margin: 0;
  }
  
  .tarjeta-descripcion {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .tarjeta-categoria {
    width:fit-content;
    padding:7px;
    border-radius: 10px;
    color:whitesmoke;
  }
  
  .tarjeta-precio {
    margin: 0;
    font-weight: bold;
  }
  
  .boton-agregar {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boton-agregar:hover {
    background-color: #45a049;
  }
  .boton-quitar {
    background-color: #af4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .boton-quitar:hover {
    background-color: #a04545;
  }
  
  /* Estilos para el carrito */
  .carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  