/* body{
    background-color: #242424 !important;
    color:whitesmoke !important;
}
.custom-nav{
    background-color: #242424 !important;
    color:whitesmoke !important;
}
.navbar-brand{
    
    padding: 10px;
    border-radius: 10px;
    color:whitesmoke !important;
}

.nav-item{
    color:whitesmoke !important;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
}
.nav-link{
    color:whitesmoke !important;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
}

.active{
    color:whitesmoke !important;
    background-color: rgb(203, 80, 80);
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 10px;
    
}
.navbar-toggler{
    color:whitesmoke !important;
    background-color: whitesmoke;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 10px;
} */

.navbar{
    border-radius: 10px;
}

.icon-carro-custom{
    width: 100px !important;
    height: 100px !important;
}

.custom-no-products{
    background-color: #ccc;
    color: rgb(87, 87, 87) !important;
    border-radius: 20px;
}

.loading{
    width: 70px;
    height: auto;
}

.dark-mode{
    background-color: #242424;
    color: whitesmoke !important;
}

.dark-mode .navbar{
    border-radius: 10px;
    background-color: rgb(58, 57, 59) !important;
    
}
.dark-mode .nav-link{
    color:whitesmoke !important;
}
.dark-mode .nav-item{
    color:whitesmoke !important;
}

.dark-mode .custom-no-products{
    background-color: #535353;
    color: rgb(169, 169, 169) !important;
    border-radius: 20px;
}